#container
{margin: 0 auto;width: 90%;min-width: 800px; max-width: 1280px; width: expression (document.body.clientWidth <= 800? "800px": (document.body.clientWidth >= 960? "960px": "auto"));}

#header 
{background: #C0C0C0; text-align: center; height: 80px; line-height: 80px;font-size: xx-large;}

#body
{margin-top:10px; text-decoration: none;}

#content 
{background-color:#EEEEEE;height:1280px;/*width:800px;*/width:80%;float:left;}

#sidebar
{background-color:#F0F8FF;height:1280px;/*width:160px;*/width:20%;float:left; position:relative;}

#footer 
{background-color:#C0C0C0;clear:both;text-align:center; padding:6px 0px;}

.bottom_float{position:absolute; bottom:10px; */width:20%; float:left; z-index:999;}