a{color:#333;}

#container
{margin: 0 auto;/* min-height: 1280px; */min-width: 640px; max-width: 100%; width: 1280px;}

#header 
{background: #C0C0C0; text-align: center; height: 80px;line-height: 80px; font-size: xx-large; width: 100%;}

#main
{margin-top:5px; text-decoration: none;}

#content 
{background-color:#C7EDCC; height:100%; width:80%; float:left; min-width: 80%; max-width: 100%; min-height: calc(100% - 100px); min-height: 836px; min-height: calc(100vh - 123px);}

#sidebar
{background-color:#F0F8FF; height:100%; width:20%; float:left; min-height: 836px; position:relative; min-height: calc(100vh - 123px); text-align:center;}

#footer 
{background-color:#C0C0C0;clear:both;text-align:center; padding:6px 0px;}


.teamviewer{border: 0; width: 120px; height: 60px;}


*{padding:0;margin:0;}

@media only screen and (max-width: 768px){
    #content{width: calc(100% - 20px);clear:both;float: none;margin: 0 auto;padding: 0 10px;min-height: 600px;}
    #sidebar{width: calc(100% - 20px);clear:both; padding: 0 10px; min-height: 150px;}
    #container {
        margin: 0 0px;
        min-width: 320px;
        width: 100%;
    }
    #body{/* padding:0 10px; */}
    *{font-size:18px;}
}


